<div class="navbar navbar-light bg-light fixed-top navbar-expand-md shadow-sm" role="navigation">
  <div class="container">
	<div class="d-flex flex-nowrap w-100">
	<div class="navbar-header">
	<a class="navbar-brand" href="{{ '/' | url}}">Welch Lab @ The University of Michigan</a>
	</div>
	<button type="button" class="navbar-toggler ml-auto flex-shrink-1" data-toggle="collapse" data-target="#navbar-collapse-1"
		aria-expanded="false" , aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="navbar-nav ml-auto justify-content-end flex-nowrap">
		<li class="nav-item"><a href="{{ '/' | url}}" class="nav-link">Home</a></li>
		<li class="nav-item"><a href="{{ '/team/' | url}}" class="nav-link">Team</a></li>
		<li class="nav-item"><a href="{{ '/publications/' | url}}" class="nav-link">Publications</a></li>
		<li class="nav-item"><a href="{{ '/research/' | url}}" class="nav-link">Research</a></li>
		<li class="nav-item"><a href="{{ '/software' | url}}" class="nav-link">Software</a></li>
	  </ul>
	</div>
  </div>
</div>
