---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the Welch Lab</h1>
  <p> Our research aims to address fundamental problems in both biomedical research and computer science by developing new
  tools tailored to rapidly emerging high-throughput sequencing technologies. Broadly, we seek to understand what genes
  define the complement of cell types and cell states within healthy tissue, how cells differentiate to their final fates,
  and how dysregulation of genes within specific cell types contributes to human disease. As computational method
  developers, we seek to both employ and advance the methods of machine learning, particularly for unsupervised analysis
  of high-dimensional data.
</p>
  <div id="carousel" class="carousel slide" data-bs-theme="dark" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="hover">
    <!-- Menu -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>

    <!-- Items -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{'/images/slider7001400/liger-cell.jpg' | url }}" class="d-block w-100" alt="LIGER Cell 2019" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/online-inmf.png' | url }}" class="d-block w-100"
          alt="Online iNMF Nature Biotechnology 2021" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/michigan.png' | url }}" class="d-block w-100" alt="Genome Biology 2021" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/atlas.png' | url }}" class="d-block w-100" alt="Nature 2021" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/fish.jpg' | url }}" class="d-block w-100" alt="EMBO Reports 2021" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/icm.png' | url }}" class="d-block w-100" alt="Nature 2017" />
      </div>
      <div class="carousel-item">
        <img src="{{'/images/slider7001400/uinmf.png' | url }}" class="d-block w-100" alt="Nature Comms 2022" />
      </div>
    </div>
    <a class="carousel-control-prev" data-bs-target="#carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" data-bs-target="#carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
