---
layout: gridlay
---
<div id="publications">
  {{ content }}
  <div class="row row-cols-1 row-cols-xl-2">
    {% for publi in publist %}
    {% if publi.highlight == 1 %}

    <div class="col mb-4">

      <div class="card h-100 d-flex flex-column justify-content-between bg-light">
        <div class="card-body clearfix">
          <pubtit class="card-title">{{ publi.title }}</pubtit>
          <p>
            <img src="{{'/images/pubpic/' | url }}/{{ publi.image }}" class="img-fluid float-start w-33" />
          </p>
          <p class="card-text">{{ publi.description }}</p>
          <p class="card-text"><em>{{ publi.authors }}</em></p>
          <p class="card-text text-danger"><strong> {{ publi.news1 }}</strong></p>
          <p class="card-text"> {{ publi.news2 }}</p>
        </div>
        <div class="card-footer px-0 mx-auto text-center w-100">
          <p class="card-link text-nowrap overflow-x-scroll"><strong><a href="{{ publi.link.url }}">{{ publi.link.display }}</a></strong>
          </p>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>

  <p> &nbsp; </p>

  <h2 id="full-list-of-publications">Full List of publications</h2>

  {% for publi in publist %}
<p>
  {{ publi.title }} <br />
  <em>{{ publi.authors }} </em><br /><a href="{{ publi.link.url }}">{{ publi.link.display }}</a>
</p>
  {% endfor %}

</div>
